@font-face {
    font-family: 'montserrat';
    src: url('/src/assets/font/Montserrat/Montserrat-VariableFont_wght.ttf') format('woff2 supports variations'),
    url('/src/assets/font/Montserrat/Montserrat-VariableFont_wght.ttf') format('woff2-variations');
    font-weight: 100 1000;
    font-stretch: 25% 151%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat
}

.gridRow {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    width: 100%;
}

.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

.col-5 {
    grid-column: span 5;
}

.col-6 {
    grid-column: span 6;
}

.col-7 {
    grid-column: span 7;
}

.col-8 {
    grid-column: span 8;
}

.col-9 {
    grid-column: span 9;
}

.col-10 {
    grid-column: span 10;
}

.col-11 {
    grid-column: span 11;
}

.col-12 {
    grid-column: span 12;
}

@media screen and (max-width: 720px) {
    .gridRow {
        display: block;
    }

    [class*="col-"] {
        margin: 10px 0;
    }
}
